bin/Debug/net10.0/OneApi.Common.deps.json
bin/Debug/net10.0/OneApi.Common.dll
bin/Debug/net10.0/OneApi.Common.pdb
bin/Release/net10.0/OneApi.Common.deps.json
bin/Release/net10.0/OneApi.Common.dll
bin/Release/net10.0/OneApi.Common.pdb
obj/OneApi.Common.csproj.nuget.dgspec.json
obj/OneApi.Common.csproj.nuget.g.props
obj/OneApi.Common.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
obj/Debug/net10.0/OneApi.Common.AssemblyInfo.cs
obj/Debug/net10.0/OneApi.Common.AssemblyInfoInputs.cache
obj/Debug/net10.0/OneApi.Common.assets.cache
obj/Debug/net10.0/OneApi.Common.csproj.AssemblyReference.cache
obj/Debug/net10.0/OneApi.Common.csproj.BuildWithSkipAnalyzers
obj/Debug/net10.0/OneApi.Common.csproj.CoreCompileInputs.cache
obj/Debug/net10.0/OneApi.Common.csproj.FileListAbsolute.txt
obj/Debug/net10.0/OneApi.Common.dll
obj/Debug/net10.0/OneApi.Common.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net10.0/OneApi.Common.GlobalUsings.g.cs
obj/Debug/net10.0/OneApi.Common.pdb
obj/Debug/net10.0/OneApi.Common.sourcelink.json
obj/Debug/net10.0/ref/OneApi.Common.dll
obj/Debug/net10.0/refint/OneApi.Common.dll
obj/Release/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
obj/Release/net10.0/OneApi.Common.AssemblyInfo.cs
obj/Release/net10.0/OneApi.Common.AssemblyInfoInputs.cache
obj/Release/net10.0/OneApi.Common.assets.cache
obj/Release/net10.0/OneApi.Common.csproj.AssemblyReference.cache
obj/Release/net10.0/OneApi.Common.csproj.CoreCompileInputs.cache
obj/Release/net10.0/OneApi.Common.csproj.FileListAbsolute.txt
obj/Release/net10.0/OneApi.Common.dll
obj/Release/net10.0/OneApi.Common.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net10.0/OneApi.Common.GlobalUsings.g.cs
obj/Release/net10.0/OneApi.Common.pdb
obj/Release/net10.0/OneApi.Common.sourcelink.json
obj/Release/net10.0/ref/OneApi.Common.dll
obj/Release/net10.0/refint/OneApi.Common.dll
